<MudAppBar Color="Color.Success" Fixed="false" Elevation="25" style="position:fixed;z-index:1;">
    <MudText Class="d-none d-md-inline" Typo="Typo.h5">
        <a href="/" class="textlink">CodeLearn</a>
    </MudText>
    <MudLink Class="mx-7" Underline="Underline.None"
             Color="Color.Default" Href="/">
        <div style="color:white;">Học tập</div>
    </MudLink>
    <MudLink Class="mx-7" Underline="Underline.None"
             Color="Color.Default" Href="/">
        <div style="color:white;">Luyện tập</div>
    </MudLink>
    <MudLink Class="mx-7" Underline="Underline.None"
             Color="Color.Default" Href="/">
        <div style="color:white;">Thi đấu</div>
    </MudLink>
    <MudLink Class="mx-7" Underline="Underline.None"
             Color="Color.Default" Href="/">
        <div style="color:white;">Thử thách</div>
    </MudLink>
    <MudLink Class="mx-7" Underline="Underline.None"
             Color="Color.Default" Href="/">
        <div style="color:white;">Đánh giá</div>
    </MudLink>
    <AuthorizeView Roles="Admin">
        <MudLink Class="mx-7" Underline="Underline.None"
                 Color="Color.Default" Href="/">
            <div style="color:white;">Admin</div>
        </MudLink>
    </AuthorizeView>

    <MudSpacer />

    <AuthorizeView>
        <Authorized>
            <MudLink Class="mx-7" Underline="Underline.None"
                     Color="Color.Default" Href="/">
                <div style="color:white;">Chào, @context.User.Identity.Name!</div>
            </MudLink>
            <MudIconButton Icon="@Icons.Material.Filled.ExitToApp" 
                           Link="Identity/Account/Logout"  
                           Color="Color.Inherit" />
        </Authorized>
        <NotAuthorized>
            <MudLink Class="mx-7" Underline="Underline.None"
                     Color="Color.Default" Href="Identity/Account/Login">
                <div style="color:white;">Đăng Nhập</div>
            </MudLink>
            <MudButton Link="Identity/Account/Register"
                       Variant="Variant.Filled"
                       Color="Color.Info">
                <a>Đăng Ký</a>
            </MudButton>
        </NotAuthorized>
    </AuthorizeView>

</MudAppBar>