@page "/posts/{AuthorId}/{Slug}";
@using Data.OrderingQuery;
@inject IPostRepository PostRepository;
@inject IPostRatingRepository PostRatingRepository;
@inject IPostCommentRepository CommentRepository;
@inject IUserRepository UserRepository;
@inject IPostCommentStarRepository CommentStarRepository;

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-10">
    <MudPaper Class="pa-6">
        @if (_postState == State.Loading)
        {
            <PostSectionSkeleton />
        }
        else if (_postState == State.NotFound)
        {
            <MudText>Bài viết không tồn tại.</MudText>
        }
        else
        {
            <PostSection Post="_post" @bind-PostInfo="_postInfo" User="_user" />
        }
    </MudPaper>

    @if (_postState == State.Complete)
    {
        <MudPaper Class="mt-4 px-6 pt-2 pb-6">
            <div class="d-flex justify-space-between">
                <MudText Typo="Typo.subtitle1" Class="mb-2"><b>@_postInfo.CommentCount bình luận</b></MudText>

                <AuthorizeView>
                    <NotAuthorized>
                        <MudLink Href="Identity/Account/Login">
                            <MudButton Variant="Variant.Outlined" Color="Color.Primary">Đăng nhập để bình luận</MudButton>
                        </MudLink>
                    </NotAuthorized>
                </AuthorizeView>
            </div>

            <AuthorizeView>
                <CommentBox Class="mb-3" SubmitButtonText="Bình luận" @bind-Content="_commentContent" OnSubmit="SubmitComment" />
            </AuthorizeView>

            @if (_postInfo.CommentCount == 0)
            {
                <div class="d-flex flex-column align-center my-10" style="@($"color:{Colors.Grey.Lighten1}")">
                    <MudIcon Class="mr-2" Size="Size.Large" Icon="@Icons.Material.Filled.Comment" />
                    <MudText Align="Align.Center">Chưa có bình luận...</MudText>
                    <MudText Align="Align.Center">Hãy là người đầu tiên bình luận bài viết này!</MudText>
                </div>
            }

            @for (int i = 0; i < _newUserTopLevelCommentInfoList.Count; i++)
            {
                int index = i;

                @if (index != 0)
                {
                    <MudDivider Class="mt-4 mb-6" />
                }

                <CommentItem @key="_newUserTopLevelCommentInfoList[index].Comment.Id" User="_user" Post="_post"
                             @bind-Starred="_newUserTopLevelCommentStarredList[index]" @bind-CommentInfo="_newUserTopLevelCommentInfoList[index]"
                             OnCommentRemove="() => HandleNewUserTopLevelCommentRemoved(index)" />
            }

            @if (_topLevelCommentInfoList.Count != 0)
            {
                @if (_newUserTopLevelCommentInfoList.Count != 0)
                {
                    <MudDivider Class="mt-4 mb-6" />
                }

                @for (int i = 0; i < _topLevelCommentInfoList.Count; i++)
                {
                    int index = i;
                    var commentInfo = _topLevelCommentInfoList[index];
                    if (_newUserTopLevelCommentInfoList.FirstOrDefault(ci => ci.Comment.Id == commentInfo.Comment.Id) != null)
                        continue;

                    if (index != 0)
                    {
                        <MudDivider Class="mt-4 mb-6" />
                    }
                    <AuthorizeView>
                        <Authorized>
                            <CommentItem @key="commentInfo.Comment.Id" User="_user" Post="_post"
                                         @bind-Starred="_userTopLevelCommentStarredList[index]" @bind-CommentInfo="_topLevelCommentInfoList[index]"
                                         OnCommentRemove="() => HandleTopLevelCommentRemoved(index)" />
                        </Authorized>

                        <NotAuthorized>
                            <CommentItem @key="commentInfo.Comment.Id" Post="_post"
                                         @bind-CommentInfo="_topLevelCommentInfoList[index]" />
                        </NotAuthorized>
                    </AuthorizeView>
                }

                @if (_loadCommentsState == State.Complete && _topLevelCommentInfoPage.CurrentPage < _topLevelCommentInfoPage.PageCount)
                {
                    <MudButton Class="px-16 d-block mx-auto" Variant="Variant.Outlined" OnClick="LoadMoreTopLevelComments">
                        Xem thêm bình luận
                    </MudButton>
                }

                @if (_loadCommentsState == State.Loading)
                {
                    <MudProgressCircular Class="d-block mx-auto" Size="Size.Large" Color="Color.Primary" Indeterminate="true" />
                }
            }
        </MudPaper>
    }
</MudContainer>

@code {
    [CascadingParameter]
    private Task<User> _userTask { get; set; }

    [Parameter]
    public string AuthorId { get; set; }

    [Parameter]
    public string Slug { get; set; }

    private static readonly int _commentPageSize = 15;

    private State _postState = State.Loading;

    private State _loadCommentsState = State.Loading;

    private User _user;

    private Post _post;

    private PostInfo _postInfo;

    private Page<PostCommentInfo> _topLevelCommentInfoPage;

    private List<PostCommentInfo> _topLevelCommentInfoList;

    private List<bool> _userTopLevelCommentStarredList;

    /// <summary>
    /// comment info list of user's submitted top level comments since page loaded
    /// </summary>
    private List<PostCommentInfo> _newUserTopLevelCommentInfoList;

    /// <summary>
    /// user starred states of user's submitted top level comment since page loaded
    /// </summary>
    private List<bool> _newUserTopLevelCommentStarredList;

    private string _commentContent;

    protected override async Task OnInitializedAsync()
    {
        _postState = State.Loading;
        _loadCommentsState = State.Loading;

        _topLevelCommentInfoList = new List<PostCommentInfo>();
        _userTopLevelCommentStarredList = new List<bool>();

        _newUserTopLevelCommentInfoList = new List<PostCommentInfo>();
        _newUserTopLevelCommentStarredList = new List<bool>();

        _commentContent = "";

        _post = await PostRepository.GetAsync(new Guid(AuthorId), Slug);

        if (_post == null)
        {
            _postState = State.NotFound;
            _loadCommentsState = State.NotFound;
            return;
        }

        _postInfo = await PostRepository.GetPostInfoAsync(_post.Id);

        _topLevelCommentInfoPage = await CommentRepository.GetPageTopLevelCommentInfoAsync(
        _commentPageSize, 1, _post.Id, StarCountDescDateDesc);

        _topLevelCommentInfoList.AddRange(_topLevelCommentInfoPage.Items);

        _user = await _userTask;

        if (_user != null)
        {
            var commentIds = _topLevelCommentInfoList.Select(ci => ci.Comment.Id);
            var commentStars = await CommentStarRepository.GetRangeAsync(_user.Id, commentIds);
            _userTopLevelCommentStarredList.AddRange(commentStars.Select(cs => cs == null ? false : true));
        }

        _postState = State.Complete;

        _loadCommentsState = State.Complete;
    }

    private OrderedOrderingQuery<PostCommentInfo> StarCountDescDateDesc(OrderingQuery<PostCommentInfo> oq)
    {
        return oq.OrderByDescending(ci => ci.StarCount)
                 .ThenByDescending(ci => ci.Comment.DateCreated);
    }


    private async Task LoadMoreTopLevelComments()
    {
        _loadCommentsState = State.Loading;

        _topLevelCommentInfoPage = await CommentRepository.GetPageTopLevelCommentInfoAsync(
            _commentPageSize, _topLevelCommentInfoPage.CurrentPage + 1, _post.Id, StarCountDescDateDesc);

        _topLevelCommentInfoList.AddRange(_topLevelCommentInfoPage.Items);

        if (_user != null)
        {
            var commentIds = _topLevelCommentInfoPage.Items.Select(ci => ci.Comment.Id);
            var commentStars = await CommentStarRepository.GetRangeAsync(_user.Id, commentIds);
            _userTopLevelCommentStarredList.AddRange(commentStars.Select(cs => cs == null ? false : true));
        }

        _loadCommentsState = State.Complete;
    }

    private async Task SubmitComment()
    {
        DateTime dateCreated = DateTime.Now;
        var comment = new PostComment
        {
            UserId = _user.Id,
            ParentCommentId = null,
            DateCreated = dateCreated,
            DateLastEdited = dateCreated,
            PostId = _post.Id,
            Content = _commentContent,
        };

        await CommentRepository.AddAsync(comment);

        _newUserTopLevelCommentInfoList.Insert(0, new PostCommentInfo
        {
            Comment = comment,
            UserName = _user.Name,
            ReplyCount = 0,
            StarCount = 0,
        });

        _newUserTopLevelCommentStarredList.Insert(0, false);
        _commentContent = "";
        _postInfo.CommentCount++;
    }

    private async Task HandleTopLevelCommentRemoved(int index)
    {
        _topLevelCommentInfoList.RemoveAt(index);
        _userTopLevelCommentStarredList.RemoveAt(index);
        _postInfo = await PostRepository.GetPostInfoAsync(_post.Id);
    }

    private async Task HandleNewUserTopLevelCommentRemoved(int index)
    {
        _newUserTopLevelCommentInfoList.RemoveAt(index);
        _newUserTopLevelCommentStarredList.RemoveAt(index);
        _postInfo = await PostRepository.GetPostInfoAsync(_post.Id);
    }
}

