@page "/test"
<h3>Test</h3>

<MudButton @onclick="() => Test2(test1)">
    Test1
</MudButton>


<MudButton OnClick="() => Test2(test2)">
    Test2
</MudButton>

@* 
        Không có tham số + void thì truyền thẳng hàm đó vào luôn vẫn dc
*@
@code {
    string test1 = "test 1";
    string test2 = "test 2";

    void Test2(string e)
    {

    }
}
